<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--通过命令空间找到指定 sql 操作文件-->
<mapper namespace="UserMapper">

    <!--插入-->
    <insert id="insertUser"
            parameterType="com.inkss.day07_2.pojo.User">
        -- 获取插入的 ID
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user(username,sex,birthday,address)
        values (#{username},#{sex},#{birthday},#{address});
    </insert>

    <update id="updateUser" parameterType="com.inkss.day07_2.pojo.User">
        update user set username = #{username} , birthday = #{birthday} ,sex = #{sex},address = #{address}
        where id = #{id};
    </update>

    <!--根据name和sex条件查询用户 -->
    <select id="selectBySexAndName" resultType="com.inkss.day07_2.pojo.User" parameterType="com.inkss.day07_2.pojo.User">
        select * from user
        <where>
            <if test="username != null and username != ''">
                username like '%${username}%'
            </if>
            <if test="sex != null and sex != ''">
                and sex = '${sex}';
            </if>
        </where>
    </select>

</mapper>

